[Unit]
Description=Automated certificate management
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/step ca renew --daemon --force /home/ubuntu/sub.crt /home/ubuntu/sub.key

[Install]
WantedBy=multi-user.target
