[Unit]
Description=step-ca service
After=syslog.target network.target
Wants=network-online.target
StartLimitIntervalSec=30
StartLimitBurst=3
ConditionFileNotEmpty=/home/step/.step/config/ca.json
ConditionFileNotEmpty=/home/step/.step/secrets/password.txt

[Service]
User=step
Group=step
Environment=STEPPATH=/home/step/.step/
WorkingDirectory=/home/step/.step/
ExecStart=/bin/step-ca /home/step/.step/config/ca.json --password-file=/home/step/.step/secrets/password.txt >> /var/log/step-ca/output.log 2>&1
ExecReload=/bin/kill --signal HUP $MAINPID
Type=simple
Restart=on-failure
RestartSec=10
TimeoutStopSec=30
StartLimitInterval=30
StartLimitBurst=3

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
SecureBits=keep-caps
NoNewPrivileges=yes

ProtectSystem=full
ProtectHome=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectKernelModules=true
LockPersonality=true
RestrictSUIDSGID=true
RemoveIPC=true
RestrictRealtime=true
SystemCallFilter=@system-service
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
ReadWriteDirectories=/home/step/.step/db

[Install]
WantedBy=multi-user.target